<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="content_title">
                <h2>FEATURED Products</h2>
                <hr>
                <p>The most prominent product in the store, which was bought with the highest number</p>
            </div>
            <div class="content_wrap table-wrapper">
                <table>
                    <tr>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 1</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 2</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 3</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 4</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 5</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 6</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 7</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 8</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 9</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 10</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 11</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 12</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 13</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 14</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 15</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 16</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 17</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="div">
                                <div class="content_img">
                                    <img src="https://cdn.shopify.com/s/files/1/0743/4993/products/Tiziano_Silla_de_Comedor_de_Tela_Quantum_-_Azul_Marino_30863bf9-a697-4fec-b976-8f0954c859cd-fs8_opgglol.png" alt="Img">
                                </div>
                                <div class="content_info">
                                    <h5>Name 18</h5>
                                    <p>$ Precio</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="content_arrows">
                <button class='left btn'><img class="arrow_lf" src="./assets/images/arrow-down.png" alt=""></button>
                <button class='right btn'><img class="arrow_rg" src="./assets/images/arrow-down.png" alt=""></button>
            </div>
        </div>
    </div>
</div>
