<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="content_text">
                <div class="content_subtitle">
                    <h6>About us</h6>
                </div>
                <div class="content_title ml-auto">
                    <h2>Title of the About Us.</h2>
                </div>
                <div class="content_p ml-auto">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptatum nobis odio fugiat ratione nesciunt reiciendis deserunt exercitationem harum eveniet, dolore natus illum!</p>
                    <div class="content_btn ml-auto">
                        <a class="shop_btn" href="">
                            <p> Shop Now </p> 
                            <fa-icon class="icon" [icon]="faAngleRight"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bg_about"></div>
        </div>
    </div>
</div>
