.navbar 
    
    .collapse
        .nav-item
            padding: 0 1rem
            a
                color: #4D4D4D
                font-weight: 900
                font-family: "Montserrat-Bold"
        .nav-item:hover
            a
                color: #F7931E
                font-weight: 500
        input
            background-color: transparent
            border: 0
            border-radius: 0
            border-bottom: 1px solid #4D4D4D
        input:hover
            border-bottom: 1px solid #F7931E
        button
            font-size: 1.4rem
        button:hover
            color: #F7931E

    