<div class="container my-5">
    <div class="row">
        <div class="col-4">
            <div class="contentTop">
                <div class="content_img">
                    <fa-icon class="icon" [icon]="faTruck"></fa-icon>
                </div>
                <div class="content_text">
                    <div class="title">
                        <h6>Free Delivery</h6>
                    </div>
                    <p>Free shipping around the world for all orders over $120</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="contentTop">
                <div class="content_img">
                    <fa-icon class="icon" [icon]="faCreditCard"></fa-icon>
                </div>
                <div class="content_text">
                    <div class="title">
                        <h6>Safe Payment</h6>
                    </div>
                    <p>With our payment gateway, don’t worry about your information</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="contentTop">
                <div class="content_img">
                    <fa-icon class="icon" [icon]="faAddressCard"></fa-icon>
                </div>
                <div class="content_text">
                    <div class="title">
                        <h6>Friendly Services</h6>
                    </div>
                    <p>You have 30-day return guarantee for every single order</p>
                </div>
            </div>
        </div>
    </div>
</div>