<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h6>OPENING TIME</h6>
            <hr>
            <ul>
                <li>
                    <p>Mon - Fri: 8AM - 10PM</p>
                </li>
                <li>
                    <p>Sat: 9AM-8PM</p>
                </li>
                <li>
                    <p>Suns: 14hPM-18hPM</p>
                </li>
            </ul>
            <div class="bold">
                <p><b>We Work All The Holidays</b></p>
            </div>
        </div>
        <div class="col-2">
            <h6>INFORMATION</h6>
            <hr>
            <ul>
                <li>
                    <p>About Us</p>
                </li>
                <li>
                    <p>Checkout</p>
                </li>
                <li>
                    <p>Contact</p>
                </li>
                <li>
                    <p>Frequently Questions</p>
                </li>
                <li>
                    <p>Wishlist</p>
                </li>
            </ul>
        </div>
        <div class="col text-center">
            <div class="title">
                <h1>Logo</h1>
            </div>
            <ul class="horizontal">
                <li>Payment</li>
                <li>Affiliates</li>
                <li>Contact</li>
                <li>Internet</li>
            </ul>

        </div>
        <div class="col-2">
            <h6>MY ACCOUNT</h6>
            <hr>
            <ul>
                <li>
                    <p>My Account</p>
                </li>
                <li>
                    <p>Contact</p>
                </li>
                <li>
                    <p>Shopping cart</p>
                </li>
                <li>
                    <p>Checkout</p>
                </li>
                <li>
                    <p>Shop</p>
                </li>
                <li>
                    <p>Order History</p>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <h6>CUSTOMER SERVICE</h6>
            <hr>
            <ul>
                <li>
                    <p>Contact Us</p>
                </li>
                <li>
                    <p>Terms of use</p>
                </li>
                <li>
                    <p>Privacy Policy</p>
                </li>
                <li>
                    <p>Site Map</p>
                </li>
                <li>
                    <p>My Account</p>
                </li>
                <li>
                    <p>Returns</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 footer">
            <p>
                Hecho con <span>&#10084;</span> por <a href="">Tooring</a>
            </p>
        </div>
    </div>
</div>
