<div class="container-fluid px-0">
    <div class="content_carousel">
        <full-carousel></full-carousel>
    </div>
    
    <div class="content_about">
        <about></about>
    </div>
    
    <div class="content_products">
        <product-section></product-section>
    </div>
    
    <div class="content_shopping">
        <shopping-banner></shopping-banner>
    </div>
    
    <div class="content_suscription">
        <suscription-banner></suscription-banner>
    </div>
    
    <div class="content_footer">
        <footer></footer>
    </div>
</div>