<div class="container-fluid px-0">
    <owl-carousel-o [options]="customOptions">
        
        <ng-container *ngFor="let img of images">
            <ng-template carouselSlide [id]="img.id">
                <img [src]="img.src" [alt]="img.title" [title]="img.name">
                <div class="content_text">
                    <div class="logo">
                        <h2>{{img.logo}}</h2>
                    </div>
                    <div class="content_title">
                        <h1>{{img.title}}</h1>
                    </div>
                    <div class="content_p">
                        <p>{{img.desc}}</p>
                    </div>
                    <div class="content_btn">
                        <button class="btn">Button</button> 
                    </div>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
</div>